* {
    box-sizing:border-box;
    }
    
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
  background: #f2ebec66;
	
    }
  /*  .navbar {
    overflow: hidden;
    background-color:#e6dbdd87;
    }
    .navbar a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    }
    
    
    .navbar a.right {
    float: right;
    }
    
    
    .navbar a:hover {
    background-color: whitesmoke;
    color: black;
    }
    */
    
    .row {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
    
    }
    
    
    .imgDiv {
    flex: 50%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 4px;

    }
    
    .mini-cat {

	
	 overflow: auto; 
    text-align:justify;
    box-shadow: 2px 2px 4px;
    display: flex;
    padding: 10px;
    border : 1px solid #f2ebec;
	border-radius: 10px;
    margin: 5px ;	
}
.imgDiv img{
  border : 1px solid #f2ebec;
	border-radius: 10px;

}
 .cat-img:hover  img {
	
	
   box-shadow: 2px 2px 2px  #bf979b;
   border : 1px solid #f2ebec;
   padding: 10px;
}
.cat-img  img{
    width:190px ;
    height: 190px;
	border : 1px solid #f2ebec;
	border-radius: 10px;
    margin: 5px ;
	align-self: center;
    }

    .imgcontent {
    flex: 50%;
    background-color:white;
    padding: 40px;
    text-align: center;
    font-family:  tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    
    }
    
    .innerDiv{
    padding: 20px;
    border:1px solid;
    border-color:whitesmoke;
    height:500px;
    }
    
    .buyDiv{
    display: flex;
    /*flex-wrap: wrap;
    flex: 100%;
    padding:2%;*/
    width: 100%;
    height: 30%;
    padding-right:00%;
    border:1px solid;
    border-color:white;
    background-color: white;
    }
    
    button{
    background-color: #8e7da1;
    color:black;
   /* border-radius: 12px;*/
    font-size: 15px;
    width: 200px;
    padding:12px 28px;
    border:whitesmoke;
    margin:40px;
    height: 70px;
     
     
    }


.btn-buy:hover, .btn-cart:hover{
    background: #863e83;
    color: #fff;
}






    /*.button :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }*/
    .fakeimg {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    }
    
   /* .footer {
      width: 100%;
    padding: 20px;
    text-align: center;
    background: #e6dbdd87;
    }
    
    */

/*
    
    @media screen and (max-width: 700px) {
    .row {   
    flex-direction: column;
    }
    }
    @media screen and (max-width: 400px) {
    .navbar a {
    float: none;
    width:100%;
    }
    }*/